table{
    border-collapse: collapse;
    width: 50%;
    font-family: sans-serif ;
    padding-right: 50%;
}

td,th{
    border: 1px solid black;
    padding:8px;

}

th{
    text-transform: uppercase;
    font-weight: bold;
}